

.progress-bar{
    background-color: transparent;
    border-radius: 4px;
    padding:3px;
    width:80%;
}

.progress-bar > div{
    height:20px;
    border-radius: 2px;
    display:inline-block;
}

#attack > div{
    background-color: #D8524E;
}

#magic > div{
    background-color: #5BBFDD;
}


#defense > div{
    background-color: #5AB75D;
}


#difficulty > div{
    background-color: #846399;
}