.rounded {
    border-radius: 10px !important;
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .9), 0 -1px 0 rgba(0, 0, 0, .6) !important;
}

.progress-bar{
    background-color: transparent;
    border-radius: 4px;
    padding:3px;
    width:80%;
}

.progress-bar > div{
    height:20px;
    border-radius: 2px;
    display:inline-block;
}

#attack > div{
    background-color: #D8524E;
}

#magic > div{
    background-color: #5BBFDD;
}


#defense > div{
    background-color: #5AB75D;
}


#difficulty > div{
    background-color: #846399;
}


#champion-spells > li{
    white-space:normal !important;
}

#stat-label{
    font-style: italic;
}

#champion-title{
    font-style:italic;
    font-size: 120%;
}